/the_ui_tree_build/check.py
/the_ui_tree_build/libraries/libraries.egg-info/dependency_links.txt
/the_ui_tree_build/libraries/libraries.egg-info/PKG-INFO
/the_ui_tree_build/libraries/libraries.egg-info/top_level.txt
/the_ui_tree_build/hy.png
cmake-build-debug-event-trace
cmake-build-debug-system
cmake-build-relwithdebinfo-system
cmake-build-release-system
/.idea
/the_ui_tree_build/frame_times.txt
/the_ui_tree_build/assets/preprocessed_shaders
/the_ui_tree_build/assets/GMakeDir
check_here.py
/the_code/config.json
/public_mirror_repository's
.env
.ENV
/the_ui_tree_build/check_here.py
the_ui_tree_build/check_here.py
the_ui_tree_build/gnbuyhggfjh.png
the_ui_tree_build/kjghgyt.png
the_ui_tree_build/hy.png
*.exe
!just.exe
!gmake.exe
/build!/tooling.txt
/cpp_toolchains
cpp_toolchains
tooling.txt
/agents.md
/AGENTS.md
build
/build